*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.section-clothes h1{
    margin-top: 100px;
  margin-left: 70px;
  color: rgb(27, 25, 25);
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4%;
    
    /* height: auto; */
}

.card-content{
    width: 15%;
    min-width: 220px;
    height: auto;
    margin: 30px 15px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-content .img img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-content .details{
    padding-left: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-content .details h3{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
}
.card-content .details h4{
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    color: rgb(110, 110, 110);
}
.card-content .details h5{
    margin-top: 10px;
    /* margin-bottom: 0px; */
    text-align: left;
    font-size: 17px;
    letter-spacing: 2px;
    color: #009688;
}
.card-content:hover{
    transform: scale(1.04);
    box-shadow: 3px 10px 10px rgb(1,1,1,0.4);
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}